* {
    
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;

}
nav {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    background-image: linear-gradient(to right, rgb(235, 112, 112), rgb(245, 132, 57));
    margin-right:30px ;
    padding-right: 30px; 
    color: white;
    text-shadow: 1px 3px 5px rgb(216, 191, 191), 0 0 1em rgb(255, 0, 0), 0 0 0.2em rgb(3, 3, 10);
   
}


header {
    display: flex;
    margin-left:30px ;
}
body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background: url(background.jpg) scroll repeat;
    background-size: 100%;
    
}
.color {
    padding: 10px;
    border-style: solid;
    
    border-radius: 10px;
}
.a1 {
    text-decoration: none;
    color: white;
}
.mp4 {
    width: 1000px;
    filter: blur(3px) brightness(120%);
    display: flex;
    justify-content: space-around;
    position: relative;
}
.cont {
    
    position: relative;
    text-align: center;
 
}
.conttext {
    border-style: solid;   
    border-radius: 10px;
    padding: 40px;
    background-color:white ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grad {
    
    font-weight: 700;
    font-size: 40px;
    
	
}
.p1 {
  margin-top: 20px;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-style: italic;
}
.p2 {
    margin-top: 25px;
}
.a2 {
    text-decoration: none; 
color: rgb(235, 112, 112);
font-size: 30px;
}
.aktions{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 20px;
margin: 30px;

}
.doverie {
    
    display: flex;
    flex-direction: row;
}
.icons{
width: 30px ;
height: 30px;
margin-right: 10px;
}

.slogan {
width: 400px;
height: 100px;
    background: white;
margin: 10px;
padding:10px;
border-radius: 10px;
border-style: solid;
border-color: green;

}
.slogan p {
    margin-top: 10px;
font-size: 20px;
}
.slogan h3 {
    font-size: 30px;
}
i {
color: red;
}
.flex1 {
    width: 100%;
 background-color: white;
 border-radius: 10px;
 border-style: solid;
 border-color: tomato;
 height: auto;
}
.foto {
    border-radius: 10px;
    width: 60%;
    
    margin: 10px;
    margin-bottom: 0px;
}
.nadpic {
    font-size: 20px;
    padding: 5px ;
    padding-left: 10px ;

}
.aktion {
    color: tomato;
    font-weight: 700;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.kontakts {
   
    align-items: flex-end ;
   background-color: white;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    border-style: solid;
    border-color: green;
    margin-left: 20px;
    height: 70px;
    
}
footer {
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: right;
    background-color:pink ;
      
      align-items: center;
      margin-right:30px ;
      margin-left:30px ;
}
footer nav {
    background-image: none;

}
.icfooter {
    width: 30px;
      height: auto;
      margin: 5px;
}
.fotersection {

    margin-left: 30px;
}
 form {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    max-width: 330px;
    padding: 15px;
    margin: 20px auto;
    background-color: #fff;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
 }
 input:not(input[type=radio]) {
    display: block;
    width: 90%;
    padding: 8px 10px;
   
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
    

 }
 form h1 {
     margin-bottom: 20px;
 }
input[type=radio] {
    
    position: relative;
    height: 40px;
    margin-right: 110px;
   vertical-align: middle;
 }
 .radio {
    
    display: flex;
 }
 button {


 display: block;
  width: 100%;
  padding: 8px 10px;
  
  border: 0;
  background-color: #1cbc11;
  cursor: pointer;
  
  
  font-size: 16px;
  color: #fff;
}
.cakebox {
 
}
.cakes,.deserts {
    
    display: grid;
    grid-template-columns: repeat(3,400px);
    gap: 100px;
}
.goods{
    position:relative;
    background-color: peachpuff;
    text-align: center;
    border-style: solid ;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    margin-top: 20px;
    border-color: tomato;
}
.goods button, .zakaz {
    position:absolute;
    bottom: 0;
    transform: translateX(-20px);
    border-radius: 18px;
    
}
 .label { 
     width: 700px;
     margin: 30px;
     background-color: thistle;
     padding: 10px;
     border-radius: 10px;
     font-size: 20px;
 }
    .cakes-jpg {
        border-radius: 10px;
        border: solid white 3px;
     text-align: center;
     width: auto;
     height: 200px;
    }
.sec1 {
font-size: 30px;
text-align: center;
margin: 10px;
padding: 15px;
background-color: white;
border-radius: 10px;
}

/* недо анимация */
.flex1:hover , .icfooter:hover  {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: green;
}
nav p:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: peachpuff;
}
button:hover {
    background-color:tomato;
}
.goods:hover {
    -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: green;
}
